/* Contact.css */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -5%;
    padding: 2rem;
    height: 100vh;
  }
  
  .contact-heading {
    font-size: 1.875rem;
    text-align: center;
    color: #000;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .form-container {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-control label {
    color: #000;
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-control input,
  .form-control textarea {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #f3f4f6;
    color: #000;
    margin-bottom: 1rem;
  }
  
  .form-control textarea {
    resize: vertical;
    min-height: 8rem;
  }
  
  .btn-send {
    background-color: #3b82f6;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .btn-send:hover {
    background-color: #2563eb;
  }
  